html {
  font-size: 22px;
}
p {
  font-size: 16px;
}
body {
  background-color: #333;
  color: antiquewhite;
}
a {
  color: yellow;
}

a:active,
a:hover {
  color: red;
}

table,tr,td{
  border-collapse:collapse;
  border:1px solid #ccc;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.5rem;
}
